[2021-11-04 08:08] pierluigilenoci opened #3 "[FR] Add a conditional option for creating CRDs"
I will like to have an option like this jetstack/cert-manager@master/deploy/charts/cert-manager/values.yaml#L42

https://github.com/fluxcd-community/helm-charts/blob/dbd6c6af9e50da6689f74f44bccd784efc93030c/charts/flux2/templates/crds/crds-helm-controller.yaml#L1

Created this issue to remind me about https://github.com/fluxcd-community/helm-charts/pull/1#discussion_r740857341

[2021-11-04 08:08] pierluigilenoci opened #4 "[FR] Separate templates to have single manifest templates"
Can they be separated to have a single manifest template?

https://github.com/fluxcd-community/helm-charts/blob/dbd6c6af9e50da6689f74f44bccd784efc93030c/charts/flux2/templates/helm-controller.yaml#L2-L10

Created this issue to remind me about https://github.com/fluxcd-community/helm-charts/pull/1#discussion_r740854842

[2021-11-04 08:21] pierluigilenoci opened #5 "[FR] Publication on artifacthub.io"
When the chart is sufficiently mature it must be published on artifacthub.io

[2021-11-04 09:27] stefanprodan opened #7 "Switch to GHCR"
Flux images should come from `ghcr.io`:

[code]

[2021-11-04 10:18] #7 closed

[2021-11-04 11:37] haarchri commented on #3
is it possible that the controller runs without the crds ?
can you say more for the use-case ?

[2021-11-04 11:43] pierluigilenoci commented on #3
Sometimes some users prefer to manually install the CRDs separately instead of having them installed with the chart.
So if you have to remove the chart to reinstall it you don't lose the CRDs objects already in place.

For example, for the Cert-Manager it makes totally sense because if you install the CRDs with the chart and then remove the chart you lose all the Certificate objects.

[2021-11-04 16:21] haarchri commented on #5
@pierluigilenoci  we published our helm-charts:
https://artifacthub.io/packages/helm/fluxcd-community/flux2

@dmccaffery  is it possible that we can move the fluxcd-community to a fluxcd org in artifactoryhub ?

[2021-11-04 16:27] dmccaffery commented on #5
I don't work for weave, so... no idea :-D

[2021-11-04 16:28] dmccaffery commented on #3
CRDs should probably be a separate chart (so they can be updated) -- using chart/crds does not support upgrade paths.

[2021-11-04 16:29] dmccaffery commented on #3
https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#method-2-separate-charts

[2021-11-04 18:23] hiddeco commented on #5
Can you open an issue / request for this in `fluxcd/community`?

[2021-11-04 20:33] haarchri commented on #5
done https://artifacthub.io/packages/helm/fluxcd-community/flux2

[2021-11-04 20:33] #5 closed

[2021-11-05 09:25] pierluigilenoci commented on #3
A separate chart is even too much, I think that a simple manifest should be enough.

[2021-11-05 09:27] pierluigilenoci opened #12 "[FR] Check if the chart comply to all best practices"
Check if the chart comply to all best practices:
https://helm.sh/docs/chart_best_practices/conventions/

[2021-11-05 11:48] #3 closed

[2021-11-05 11:48] #4 closed

[2021-11-05 13:11] dwerder commented on #12
Do you have a tool in mind to check that?

[2021-11-05 13:23] pierluigilenoci commented on #12
As far as I know, the only tools available are time and patience because it must be done by hand.

[2021-11-05 13:37] dwerder commented on #12
In this case, thats not a real FR or do you plan to open that issue after each merge or for for each PR? ;)

We can mention to stick to https://helm.sh/docs/chart_best_practices/ , but I see nothing more to fix this issue.

[2021-11-05 13:46] pierluigilenoci commented on #12
This FR is more of a reminder (for me) to do a one-time check and make sure we're starting from a good foundation.
Then of course it is up to each subsequent PR to verify that no non-compliance are created.
But there is obviously no way to guarantee it.
At least, we can write in the documentation to stick to the best practices by adding a link to the aforementioned page.
What do you think about it

[2021-11-07 23:23] dwerder commented on #12
I added a note in the PR template.

[2021-11-15 10:17] pierluigilenoci opened #16 "Upgrade to Flux 0.23.0"
### Is your feature request related to a problem ?

No problem, just keep up with the latest version released.

### Describe the solution you'd like.

Update the chart to use the new version

### Describe alternatives you've considered.

None

### Additional context.

Ref: https://github.com/fluxcd/flux2/releases/tag/v0.23.0

[2021-11-15 10:26] haarchri commented on #16
my understanding is that we updated it
https://github.com/fluxcd-community/helm-charts/blob/main/charts/flux2/Chart.yaml#L6

@dwerder  what is your oppinion ?

[2021-11-15 10:32] pierluigilenoci commented on #16
@haarchri when I opened the issue I got confused and wrote the version number of the chart and not the software version.

This needs to be updated: https://github.com/fluxcd-community/helm-charts/blob/main/charts/flux2/Chart.yaml#L8

[2021-11-16 11:11] stefanprodan opened #18 "[FR] Run `flux check --pre` as a pre-install hook"
To ensure the cluster is compatible with Flux, we could use the `ghcr.io/fluxcd/flux-cli:v0.23.0` image in a Kubernetes Job that runs `flux check --pre`. The job could be configured as a pre-install hook.

[2021-11-16 11:18] #16 closed

[2021-11-16 11:25] pierluigilenoci commented on #16
@dwerder thank you a lot!

[2021-11-18 12:02] haarchri opened #19 "lables for most of the deployments not working"
### Describe the bug a clear and concise description of what the bug is.

lables for most of the deployments not working

### What's your helm version?

version.BuildInfo{Version:"v3.6.0", GitCommit:"7f2df6467771a75f5646b7f12afb408590ed1755", GitTreeState:"dirty", GoVersion:"go1.16.4"}

### What's your kubectl version?

Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitC

[2021-11-18 12:03] dwerder commented on #19
I will take a look at that issue.

[2021-11-18 12:10] #19 closed

[2021-11-26 16:10] clausa20 opened #22 "flux-sync - ref: got "string", expected "map""
### Describe the bug a clear and concise description of what the bug is.

In flux-sync in values.yaml in gitRepository, the ref field expects a string value,
but in gitRepository templates it expects a map value.
`ref: mybranch`
Also I tried to put a map in values.yaml, for example:
[code]
but I got the same error as specifying just an string.

_Error: Failed to render chart: exit status 1: coales

[2021-11-26 16:12] stefanprodan commented on #22
I'm working on a fix, many other things are broken in that chart.

[2021-11-26 20:48] #22 closed

[2021-11-29 12:50] #18 closed

[2021-11-29 13:14] stefanprodan opened #27 "Set updates expectancy"
Given that these charts are community maintained, what's the expected time frame from the moment a Flux release is published to the moment `flux2` and `flux2-sync` charts are updated and released?

Should we add a notice to the main readme and to each chart readme that delays are expected and there are no guarantees about keeping up with upstream?

[2021-11-29 13:21] dwerder commented on #27
Thats a good point and I would agree.
I would raise another question if we want to change the chart version number to actually match the flux version. So its easier for customers to see whats there.

For example:

Main Flux: 0.24.0
Community chart version : 0.24.0
Community chart patch: 0.24.0-1

[2021-11-29 13:33] stefanprodan commented on #27
I can see how matching the flux version would make it easy for users to tell which Flux is available, but on the other hand how would you signal breaking changes to the chart?

[2021-11-29 13:43] clausa20 opened #28 "Does it support kubernetes 1.18?"
### Is your feature request related to a problem ?

With latest release I get an error in pre-hook that only 1.19 is supported.
Can you support 1.18?
is there some feature that is not supported in 1.18? if yes, could you do some if logic to support both?

Also, please add this kind of information in the main readme.

Thanks.

### Describe the solution you'd like.

Support 1.18 release as well.

##

[2021-11-29 14:00] dwerder commented on #28
This check just implements a check which come from flux2 upstream. So you have to raise an issue there if you want support for older k8s versions.

[2021-11-29 14:03] dwerder commented on #28
You can also use specific values for the helm install to use older flux images, which maybe support older k8s version.
Any other thought regarding that @stefanprodan ?

[2021-11-29 14:04] stefanprodan commented on #28
See here the supported versions https://fluxcd.io/docs/installation/#prerequisites

We have no plans on supporting Kubernetes versions that are EOL.

[2021-11-30 04:30] dmccaffery commented on #27
The chart manifest already has a field for appVersion for this purpose. This is where the version of flux should be defined, imho.

[2021-11-30 08:11] dwerder commented on #27
@dmccaffery technically you are right. But its not so uncommon to set version and appVersion to be the same. Nevertheless it was just a suggestion.
Then we maybe need to add some annotation to the releases, to have an easy way (not viewing at the code) to see wich appVersion is in it.

[2021-12-02 09:29] neillturner opened #32 "Installing custom resources before a helm upgrade"
Thanks for these charts. I always found the flux bootstrap a bit of magical complex install process and the terraform flux provider unable to handle upgrades.

### Is your feature request related to a problem ?

Currently helm3 when doing an upgrade doesn't upgrade custom resources which can lead to deployment failures because custom resources are not upgraded.

### Describe the solution you'd lik

[2021-12-02 09:39] stefanprodan commented on #32
Have you verified that this applies to the flux2 chart?

[2021-12-02 09:50] dwerder commented on #32
Alternatively you could do the followiing:

`helm3 apply -f https://github.com/fluxcd-community/helm-charts/blob/flux2-0.6.1/charts/flux2/templates/crd-controller-clusterrole.yaml`

flux2-0.6.1 is the tag of the release. So you can download and apply the crds of the corresponding chart release. We could document this process in the readme.

[2021-12-02 10:06] stefanprodan commented on #32
@dwerder how would applying some RBAC help with CRDs upgade?

I don't think what's reported here is true. The flux2 chart doesn't uses the `crds` dir, so Helm should upgrade all CRDs since they are in templates.

[2021-12-02 10:34] dwerder commented on #32
@stefanprodan it was just an example, that it is already possible to apply specific crds file for each release. I just took the first file named crd as example.

[2021-12-02 16:39] pierluigilenoci commented on #27
@dwerder I am totally against aligning the chart version with the software version for several reasons.

First of all, because they are different things and therefore they must have different versions.

Second and more important: between one version and the other of the software it is possible to have to release more than one version of the chart even if only to fix a bug of the chart.

In additio

[2021-12-02 16:41] pierluigilenoci commented on #27
I agree with @stefanprodan to add a note that the chart is maintained on a voluntary basis and therefore there are no guarantees whatsoever.

[2021-12-07 13:54] neillturner commented on #32
I don't think what's reported here is true. The flux2 chart doesn't uses the crds dir, so Helm should upgrade all CRDs since they are in templates. - thanks for that. there is alot of confusion as to updgading crds in helm3.

[2021-12-07 13:54] #32 closed

[2021-12-07 21:08] palassis-8451 opened #35 "Kustomize controller envFrom helm values"
### Is your feature request related to a problem ?

If needing to use an [Azure service principal to decrypt sops secrets](https://fluxcd.io/docs/guides/mozilla-sops/#azure), there doesn't currently exist an option to configure one via the helm values.

### Describe the solution you'd like.

Following a similar approach used in [the flux v1 helm chart](https://github.com/fluxcd/helm-operator/issue

[2021-12-07 21:20] #28 closed

[2021-12-07 21:50] dwerder commented on #35
Without digging to deep into that. Just a question.  Does the secret mount does not work her as well?
https://github.com/fluxcd-community/helm-charts/blob/main/charts/flux2/values.yaml#L128
[code]

[2021-12-07 21:57] MxNxPx commented on #35
My understanding is that would not work because I cannot specify an environment variable within the controller for it to pull from the secret mount.  Also I thought it might be more confusing to go a different route than what the flux documentation specifies.

[2021-12-08 16:46] palassis-8451 commented on #35
@dwerder - If there are no other questions, I am happy to create a pull request, but I believe I need someone to sign off first.  Is that correct?  Thanks!

[2021-12-08 18:03] haarchri commented on #35
please open the PR you need to sign your commit for example `git commit -sm "commit with dco"` thanks

[2021-12-08 18:36] palassis-8451 commented on #35
Thanks @haarchri, pull request is ready: https://github.com/fluxcd-community/helm-charts/pull/36/

[2021-12-08 21:12] haarchri opened #37 "Add @dwerder as a helm-charts maintainer"
@dwerder has been contributing significant features to `helm-charts`  over the [past few weeks](https://github.com/fluxcd-community/helm-charts/commits?author=dwerder) He has also been responsive and reactive to opened issues and fixes.

This issue proposes adding @dwerder as a `helm-charts` maintainer. Existing maintainers should indicate votes in the comments.

/cc @stefanprodan @hiddeco @pierlu

[2021-12-08 21:55] dwerder commented on #37
Got the invite. Thanks.

[2021-12-08 21:55] #37 closed

[2021-12-09 08:29] stefanprodan commented on #27
Given https://github.com/aws/containers-roadmap/issues/1593 I think it's imperative to set the right expectations for these charts in the main repo readme on on each chart readme.

[2021-12-09 11:07] MxNxPx commented on #35
Closed the pull request per convo with @dwerder and he offered to open a new one.

[2021-12-09 16:51] throwawayaccount0153 opened #41 "Please include secret.data: example"
### Describe the bug a clear and concise description of what the bug is.

Please include a secret.data: {} example as I cannot get a secret to work.  This is due to the fact that It doesn't appear that data: {} accepts a multi line string which is needed to accept an ssh private key, I don't believe json accepts multiline values.  can this be changed to be more multi line string friendly?

### Wha

[2021-12-09 16:56] haarchri commented on #41
we use it like this:
in chart

flux2:
[code]

in flux2-sync:

[code]

[2021-12-09 17:17] throwawayaccount0153 commented on #41
I'm using ssh so mine needs to look like this:
`              secret:
                create: true
                data:
                  identity: |
                  SSH__PRIVATE_KEY
                  identity.pub: |
                  SSH__PUBLIC_KEY
                  known_hosts: "GITHUB_KNOWN_HOSTS_ENTRY"
`

this is the reason for the bug report, most people use ssh and not https, so we need

[2021-12-10 07:54] stefanprodan commented on #41
Given that Flux v1 supported only SSH for years and Flux v2 `flux bootstrap` defaults to SSH deploy keys, I think “most people” is accurate. As for statistics, Flux is a CNCF project and we no longer collect stats from people’s clusters, but we used to do that for v1 and SSH was used by almost everyone.

[2021-12-10 08:07] dwerder commented on #41
@stefanprodan Thanks for the information.
@throwawayaccount0153 Do I get it right, that it works, but you suggest to have an examlpe in the repo? (so its not actual bug)

[2021-12-10 15:22] throwawayaccount0153 commented on #41
@dwerder you are correct, it works, though via the mechanism I'm executing helm, via terraform, it turns out I needed to wrap these particular values in an indent(6, KEY) function in order to get it to work properly.  otherwise outside of terraform this works just as we've tested.  Yes, it would be nice to have an example, although a piped multiline value is standard helm so technically we'd be do

[2021-12-10 16:27] #35 closed

[2021-12-12 10:59] haarchri opened #47 "generate imageTags for all controller from upstream"
### Is your feature request related to a problem ?

no

### Describe the solution you'd like.

generate imageTags for all controller:
https://github.com/fluxcd-community/helm-charts/blob/main/charts/flux2/values.yaml#L18
https://github.com/fluxcd-community/helm-charts/blob/main/charts/flux2/values.yaml#L28
https://github.com/fluxcd-community/helm-charts/blob/main/charts/flux2/values.yaml#L68
https

[2021-12-12 11:06] haarchri opened #48 "generate helmchart version with semVersion"
### Is your feature request related to a problem ?

no

### Describe the solution you'd like.

generate helmchart version with semVersion via Makefile/pre-commit

https://github.com/fluxcd-community/helm-charts/blob/main/charts/flux2/Chart.yaml#L5
implement checks that we can consider the version bump
- if generator creates new crds, imageTags // step=minor
- t.b.d

example for version bump via sc

[2021-12-12 11:08] haarchri opened #49 "add make generate,helmdocs,check-diff in ci"
### Is your feature request related to a problem ?

no

### Describe the solution you'd like.

add in ci

[code]

so we can check that generate and helmdocs was executed in the commit and no file is changed

### Describe alternatives you've considered.

no

### Additional context.

_No response_

[2021-12-12 11:12] haarchri opened #50 "disable release chart in forks"
### Is your feature request related to a problem ?

https://github.com/haarchri/helm-charts-1/runs/4497426608?check_suite_focus=true

### Describe the solution you'd like.

disable release step in/for forks

### Describe alternatives you've considered.

no

### Additional context.

_No response_

[2021-12-17 21:48] smurfralf opened #53 "Include value variables for customization arguments supported by `flux -install`"
### Is your feature request related to a problem ?

I'd like to migrate from using `flux install --export` to using the flux2 helm chart. However our usage of `flux` currently takes advantage of some of the extra flags that `flux install` supports. Specifically we do not download containers from the internet, so the container images need to come from an internal repository and need to use an image

[2021-12-20 19:00] dwerder commented on #12
I think this one can be closed. Otherwise it will stale forever as just a reminder ticket.

[2021-12-20 19:22] #27 closed

[2021-12-21 09:03] #12 closed

[2021-12-21 12:06] smurfralf commented on #53
imagePullSecrets is now taken care of. The enhancement request remains for the cluster-domain and network-policy fields (at a lower priority for me).

[2021-12-23 16:32] #48 closed

[2021-12-23 16:38] haarchri opened #60 "kustomizationlist{} results in to much kustomizations n+1"
### Describe the bug a clear and concise description of what the bug is.

since #55  we have issues with kustomization / kustomizationlist

values.yaml:

[code]

results in: 3 kustomizations

[code]

side note:
we have also issues if dependsOn Path and Release Name is more then 63 characters long: https://github.com/fluxcd-community/helm-charts/blob/main/charts/flux2-sync/templates/kustomization.y

[2021-12-23 18:07] dwerder opened #62 "Start using semver version 1.x.x for the charts"
### Is your feature request related to a problem ?

To reflect breaking changes in a chart you would start to increase the major semver number. So all chart version are a 0.x at the moment thats a problem. PR #61 is a good example.

### Describe the solution you'd like.

I would like to release a version 1.x of each chart. So we can make it obvios, if we release a chart with breaking changes and i

[2021-12-23 18:08] dwerder commented on #62
/cc @haarchri @stefanprodan

[2022-01-01 11:10] uqix opened #63 "Configure proxy for source controller"
### Is your feature request related to a problem ?

We need configure `https_proxy` for source controller to get those sources, but the deployment does't accept extra env vars.

### Describe the solution you'd like.

Add value `extraEnv` in the controller deployment.

### Describe alternatives you've considered.

None

### Additional context.

_No response_

[2022-01-03 17:11] pierluigilenoci commented on #63
Feel free to open a PR

[2022-01-04 14:33] #63 closed

[2022-01-19 12:22] steveizzle opened #65 "flux2-chart: Pre-Install Hook fails when PSPs are in place"
### Describe the bug a clear and concise description of what the bug is.

When you have PSPs or anything equivalent set up in the cluster which denies Pods from running as root, the Installation of the helm chart will fail, because of the failing Pre-install hook (fux-cli seems to be running as root by default). There is currently also no workaround for this (ok, one very dirty of giving the defau

[2022-01-20 19:55] haarchri opened #67 "prepare helm-chart for upstream flux2 0.26 release"
prepare helm-chart for upstream flux2 0.26 release
https://github.com/fluxcd/flux2/issues/2308

[2022-01-21 08:32] pierluigilenoci commented on #65
Thank you @steveizzle, feel free to open a PR.

[2022-01-24 15:53] #65 closed

[2022-01-25 21:51] haarchri commented on #60
we found an solution we simply set  - thanks @dwerder
[code]

[2022-01-25 21:51] #60 closed

[2022-01-25 22:29] haarchri commented on #67
Check also for https://github.com/fluxcd/terraform-provider-flux/issues/241

[2022-01-26 17:03] dzirg44 opened #69 "Chart components additional args to containers"
### Is your feature request related to a problem ?

I think it will be nice to see in this chart a possibility to add additional args to containers. Sometimes Flux developers add new flags to services but describe everything can be not so good, so maybe it will be a good option for such cases.
I can create a pull request for it.

### Describe the solution you'd like.

Something like this
[code]

#

[2022-01-26 18:21] dwerder commented on #69
Sounds reasonable. If we implement it, we should do it for all containers.

[2022-01-28 09:23] pierluigilenoci opened #71 "[FR] Allow the Chart to create extra manifest"
### Is your feature request related to a problem ?

Sometimes, accessory to the installation there may be manifest to be installed (for example a SecretProviderClass).

### Describe the solution you'd like.

It would be nice to be able to do this directly via the Chart using the approach that ArgoCD also uses.

Ref: https://github.com/argoproj/argo-helm/blob/cf57a71a154a1a8a19f5f9d3980d60eb3efd80c

[2022-01-28 11:41] #69 closed

[2022-01-28 11:55] dwerder commented on #71
Maybe I am a little bit to overcautious, but that basically means that I allow someone to install everything he likes with the chart. From a security perspective I don't like that. I see that this point was not discussed on the other projects like Grafana and ArgoCD.

https://github.com/argoproj/argo-helm/pull/1094
https://github.com/grafana/helm-charts/pull/974

[2022-01-28 17:21] pierluigilenoci commented on #71
@dwerder I saw that they have already answered you in the issue of the other projects but I am also writing it here for completeness and for those who, in the future, should read the discussion.

Helm has the right to install only and exclusively what the "RBAC user" has the right to install.
Just as it could with any static manifest.

The security check must be upstream.
Helm is only a tool to cr

[2022-01-31 09:33] #71 closed

[2022-02-07 10:03] #67 closed

[2022-05-03 06:32] jurgen-weber-deltatre opened #88 "Can I pre configure a cluster?"
### Is your feature request related to a problem ?

I am trying to wrap my head around flux and how it works and then once I am there work out what the best installation method is for our situation. Right now this helm chart and the terraform method are both appealing to me because we have an extensive Terraform base.

Most howto's and instructions on how to setup a clusters take you to the CLI, w

[2022-05-04 07:30] stefanprodan opened #89 "Update flux2-sync to Source API v1beta2"
The flux2-sync chart is using a deprecated API for GitRepositories, please update it to v1beta2.

[2022-05-04 09:13] #89 closed

[2022-05-04 09:39] stefanprodan opened #91 "Publish the Helm charts to GHCR"
With Helm OCI being GA, I think we should also publish the charts to GitHub Container Registry. An example of how to push to GHCR from GH Actions can be found here: https://github.com/stefanprodan/podinfo/blob/master/.github/workflows/release.yml#L71

PS. After we push the charts to GHCR, we need to use the GH UI and make the images public.

[2022-05-04 10:15] stefanprodan opened #92 "Update Flux to 0.30.2"
Please update the flux2 chart to match the v0.30.2 release. Note that v0.30 comes with RBAC, CRDs and controller's flag changes.

[2022-05-05 11:30] dmccaffery commented on #91
Would we want to backfill all previous releases as well?

[2022-05-05 13:18] stefanprodan commented on #91
@dmccaffery it would be nice to have all versions but I don't think it's a must.

[2022-05-06 10:58] dmccaffery commented on #91
Dependencies:

https://github.com/helm/chart-releaser/issues/183
https://github.com/helm/chart-releaser-action/issues/107

I'm going to work my way through these today.

[2022-05-09 21:33] dwerder commented on #88
Just a week since you asked and maybe you figured it out by yourself, but your last thought seems to be right. To configure gitrepositories your use the flux2-sync chart.

[2022-05-09 23:29] #88 closed

[2022-05-09 23:30] jurgen-weber-deltatre commented on #88
maybe someone following this journey and this info will help them. The bit that really tricked me is the resources it makes needs to be named flux-system.

[2022-05-10 06:06] #47 closed

[2022-05-11 19:14] #92 closed

[2022-05-12 09:46] #91 closed

[2022-05-12 15:19] dmccaffery opened #99 "docs: add install docs using oci as the chart repository"
Great thank you. Now we can add OCI as an alternative install method to the main readme and all chart readmes.

__Originally posted by @stefanprodan in https://github.com/fluxcd-community/helm-charts/pull/94#issuecomment-1124969034__

[2022-05-27 13:10] ChrisJBurns opened #101 "Ability to create asymmetric keys"
### Is your feature request related to a problem ?

Currently, when we use the `flux-sync` chart, we are given the option of creating the secret in the desired cluster. When we use Crossplane, we have to provide the secret data that we want the chart to create. But it isn't possible to create those keys in the Crossplane composition and pass them into the `flux-sync` chart.

### Describe the solut

[2022-05-27 13:24] stefanprodan commented on #101
There is a `flux create secret git` that generates SSH keys and known host keys which are saved in a Kubernetes Secret. I guess we can use a Helm hook that wraps the CLI like we in the flux2 chart.

[2022-05-27 13:30] ChrisJBurns commented on #101
That would be great! The `known_hosts` I knew were also another thing that I needed to figure out how to resolve, but you're right, if there is a `CLI` that we can use in the Chart, that completely resolves the `known_hosts` problem too.

[2022-05-28 17:46] ChrisJBurns commented on #101
Have got it working. Will be putting a PR up soon, just need to finalise a few edge cases. Requires a bit more than the `pre-install-job.yaml` as it's writing to `flux-system` namespace, so it needs an SA with some `Role` and `RoleBinding` permissions to write to secrets in the `flux-system` namespace.

[2022-05-29 13:01] ChrisJBurns commented on #101
Closing as this has has been implemented in #102

[2022-05-29 13:01] #101 closed

[2022-05-29 16:34] ChrisJBurns opened #103 "Support Flux Bootstrap or Deploy key creation"
### Is your feature request related to a problem ?

Currently, after https://github.com/fluxcd-community/helm-charts/pull/102 was merged, it is now possible to allow the `flux-sync` helm chart create (using the `flux-cli`) the SSH keys that would be used to push and pull to Git. However, for use in Crossplane (where I am using it), there is no way of getting the `identity.pub` where I can pass it

[2022-06-02 08:49] suryapandian commented on #103
Flux creates a secret with the below details
[code]
You can look into the secret that is base64 encoded. You can then decode it to get these details.

Hope this helps

[2022-06-02 16:51] ChrisJBurns commented on #103
Hi @suryapandian  that's correct, although you natively need to retrieve them by another means. This issue is around possibly implementing functionality into the Helm chart that calls the `fluxcli` that does the creation of the deploy keys.

[2022-06-02 17:00] stefanprodan commented on #103
I would close this as `wantfix`. The whole idea of `flux bootstrap github` is that the PAT never leaves your local machine, the CLI talks to the GitHub API, while the cluster only has the SSH key. If you need to write the deploy key from the cluster to GitHub then you need a GitHub PAT with admin access to the repo as a secret in Kubenretes, which makes the whole thing pointless, if you have a PAT

[2022-06-02 17:02] ChrisJBurns commented on #103
Shall close

[2022-06-02 17:02] #103 closed

[2022-06-02 17:04] ChrisJBurns commented on #103
I will also add, the 2nd point(Let `flux-sync` create the SSH keys) in my original post actually works now. So this ticket isn't needed anymore.

[2022-06-02 17:08] suryapandian commented on #103
What do you mean by "retrieve them by another means"? The current version of helm chart already creates deploy keys 🤔

[2022-06-02 17:10] ChrisJBurns commented on #103
I don't think it does, it creates the SSH keys and puts them in the Cluster, but an additional task is needed to be performed by the engineer to ensure the Gitlab / Github Deploy Key is created with the `publicKey` created via Flux. In our case, we have Crossplane composition resources to do this.

[2022-06-02 17:14] suryapandian commented on #103
Yes, that is true. We were thinking of writing a k8s job that goes through the logs that prints the publicKey and upload it to the Github/Gitlab. And yes, that would need a PAT. But perhaps instead of providing the PAT as a value in values.yaml, we can point to a secretRef that has the PAT. That way the PAT is not explicitly committed anywhere.

[2022-06-02 17:22] suryapandian commented on #103
For bootstrapping from "local" machines it is okay to expose PAT. However, for automating bootstrap process across various clusters in an organization adding PAT in `values.yaml` is not a good idea.

We should have a mechanism where PAT is not explicitly added to values.yaml but the helm chart is still able to create a helm release of flux that is able to sync from Github/Gitlab.

[2022-06-02 17:31] suryapandian commented on #103
hmm we use Github, Tf. Creation of deploy key has not been a problem for us. Uploading the deploy key to GH is kind of a sore spot at the moment. We are looking at clean ways to do this.

I am relatively new to the world of k8s, flux, helm etc.. So, let me process my thoughts on this.

Thanks for explaining me and maintaining these helm charts, they are very helpful.

[2022-06-03 09:22] suryapandian commented on #103
@ChrisJBurns what did you mean by `flux2-install`?  I don't see such a [chart](https://github.com/fluxcd-community/helm-charts/tree/main/charts)

[2022-06-03 16:04] ChrisJBurns commented on #103
This one: https://github.com/fluxcd-community/helm-charts/tree/main/charts/flux2

[2022-06-03 20:09] suryapandian opened #104 "GitRepository and Kustomization are not installed when we do helm release or kubectl apply the first time."
### Describe the bug a clear and concise description of what the bug is.

While using `flux-sync` helm chart, to deploy the flux changes.
I either use `helm template` to get the k8s manifests and do `k apply -Rf folder-name-of-generated-manifests` or do a helm release. In both the cases, I get the error:

[code]

However, when I re-run `kubectl apply` it works. So, I suspect that the order in whic

[2022-06-04 05:11] stefanprodan commented on #104
This is the expected behavior, you need to use the flux2-sync chart to create GitRepostories and Kustomization after you’ve installed flux2.

[2022-06-04 08:39] suryapandian commented on #104
I am having both `flux2` and `flux2-sync` as dependencies in the chart. If `flux2-sync` had a helm hook that waited until the CRD was installed, I will be able to do
[code]

instead of doing the multipline commands
[code]

I am not able to do `helm upgrade --install flux2 ./charts/flux2` because gitrepositories and kustomizations is tried to get applied before the CRDs are installed.

[2022-06-04 08:41] stefanprodan commented on #104
You can't do that, you need to run them one after the other.

[2022-06-04 08:42] stefanprodan commented on #104
Also what's the point of using Helm with kubectl? Please see `flux bootstrap` that does all things for you.

[2022-06-04 08:42] #104 closed

[2022-06-04 08:45] suryapandian commented on #104
Okay, will do it one after another.
Could you please point me to a doc that would help me understand why I cannot do that?

[2022-06-04 08:52] stefanprodan commented on #104
@suryapandian Helm can't upgrade CRDs if they are placed in the `/crds` dir, We release CRD updates with every Flux release, so to overcome this Helm limitation we had to place the CRDs in `/templates`.

[2022-06-04 08:59] suryapandian commented on #104
hmm thanks Stefan, will read along these.

[2022-06-05 12:07] suryapandian opened #105 "Rename kustomization.yaml generated by flux2-sync"
### Is your feature request related to a problem ?

While using `flux2-sync` chart the naming of the file `kustomization.yaml` is causing problems during automations where by convention it is considered to be kustomization file of `apiVersion: kustomize.config.k8s.io/v1beta1`.
So, we get the error: `json: unknown field \"spec\"`

### Describe the solution you'd like.

We could rename the file `kus

[2022-06-05 12:08] suryapandian commented on #105
If this seems valid, I could raise a PR renaming the file.
If this doesn't seem valid, please tell me why.

Thanks

[2022-06-09 08:52] stefanprodan commented on #105
Only Kustomize config files should be named like that. @suryapandian please change the chart and add `flux-` as a prefix to both gitrepo and kustomization.

[2022-06-09 08:54] stefanprodan commented on #62
I'm for releasing v1.0.0 for all charts.

[2022-06-09 14:29] #105 closed

[2022-07-01 09:43] kaajrot opened #108 "helm list -n <namespace> doesn't give accurate output"
### Describe the bug a clear and concise description of what the bug is.

We use the spec targetNamespace for some of our helm releases to install them in a particular namespace.
but the release shows up when we query another namespace as well.

ex- helm list -n kube-infrastructure should list only the releases installed under namespace kube-infrastructure. But we get some that are installed in di

[2022-07-01 09:47] stefanprodan commented on #108
This is the wrong repo to report Flux issue. Flux is being developed under the fluxcd org. This issue should be opened in fluxcd/helm-controler repo.

[2022-07-07 15:04] #62 closed

[2022-07-21 08:23] samueltorres opened #111 "Be able to run flux service accounts with least privilege"
### Is your feature request related to a problem ?

I want to run Flux with [MultiTenancy Lockdown](https://fluxcd.io/docs/installation/#multi-tenancy-lockdown) enabled. Still that is not enough for the security posture I'm looking for. Mainly because kustomize-controller and helm-controller service accounts have [cluster-admin ClusterRoleBinding](https://github.com/fluxcd-community/helm-charts/bl

[2022-08-11 15:56] stefanprodan opened #114 "Release Flux 0.32"
Please update the Flux chart to v0.32.0

## Highlights

Flux v0.32.0 comes with support for distributing Kubernetes manifests, Kustomize overlays and Terraform code as OCI artifacts.
For more information please see the [Flux OCI documentation](https://fluxcd.io/docs/cheatsheets/oci-artifacts/).

### New features

- New Flux CLI commands `flux push|pull|tag artifact` for publishing OCI Artifacts to

[2022-08-23 08:15] #114 closed

[2022-08-31 15:24] jmehitch opened #117 "Upgrade to Flux 0.33"
### Is your feature request related to a problem ?

Please update the Flux chart to `appVersion` v0.33.0

### Describe the solution you'd like.

Updated to v0.33.0: https://github.com/fluxcd/flux2/releases/tag/v0.33.0

### Describe alternatives you've considered.

NONE

### Additional context.

_No response_

[2022-09-02 10:06] samuel-form3 commented on #111
@dwerder Any feedback on this ? 🙂

[2022-09-02 12:00] #117 closed

[2022-09-03 14:38] poblin-orange opened #119 "support corporate ca for SourceController"
### Is your feature request related to a problem ?

Unable to use flux helm chart out of the box when targeting a corporate GitRepository (corporate ca for tls access)
Same for notification controller when targeting corporate mattermost

### Describe the solution you'd like.

Id like to be able to set wether;
- corporate ca to use for source controller
- volumes/volumes mount for source controller

[2022-09-03 15:17] haarchri commented on #119
Can you Check:

https://github.com/fluxcd-community/helm-charts/blob/main/charts/flux2/templates/source-controller.yaml#L99

https://github.com/fluxcd-community/helm-charts/blob/main/charts/flux2/templates/source-controller.yaml#L114

[2022-09-12 15:15] stefanprodan opened #122 "Release Flux 0.34"
Please update the Flux chart to v0.34.0 change log here https://github.com/fluxcd/flux2/releases/tag/v0.34.0

[2022-09-12 17:30] poblin-orange commented on #119
@haarchri not sure its enough.
Typically, custom ca cert are loaded from well know location /etc/ssl/cert
see below the kyverno patch we use
[code]

[2022-09-27 13:32] #122 closed

[2022-09-27 14:00] suryapandian opened #124 "When notification controller is disabled events-addr should be set us false to avoid POST API calls"
### Describe the bug a clear and concise description of what the bug is.

We use just the kustomize-controller and source-controller, and we have disabled notifications controller.
however, `event-addr` has a [default value](https://github.com/fluxcd-community/helm-charts/blob/main/charts/flux2/values.yaml#L28) which is [rendered](https://github.com/fluxcd-community/helm-charts/blob/27f415e81d268e

[2022-09-27 14:46] #124 closed

[2022-09-29 09:31] glitchcrab commented on #88
Just to follow up on this (I know the issue is closed) - some documentation as what each chart is for would be great. It's really difficult to translate the outcome of the magic of `flux bootstrap` into these charts.

[2022-10-01 20:33] poblin-orange commented on #119
got it, i can add the volumes and volumes mount with sourcecontroller.volumeMounts / volumes in values.yaml
thks

[2022-10-01 20:33] #119 closed

[2022-10-02 06:32] #111 closed

[2022-10-06 11:19] roobre opened #128 "Add ingress objects for notification controller"
### Is your feature request related to a problem ?

Notification controller [receivers](https://fluxcd.io/flux/components/notification/receiver/) allow forges like github or gitlab to send events when the repository state changes, allowing to reduce latency without unreasonable polling frequencies.

For the notification controller to be reachable, most clusters will require an ingress object in ad

[2022-10-06 11:24] stefanprodan commented on #128
I'm in favour of adding an opt-in ingress v1 definition to the chart.

[2022-10-12 14:59] as42sl opened #129 "HelmRelease valuesFrom broken for dotted annotations"
### Describe the bug a clear and concise description of what the bug is.

See this issue: https://github.com/fluxcd/helm-controller/issues/542

The problem is that the CRD is not up2date:
See
https://github.com/fluxcd-community/helm-charts/blame/main/charts/flux2/templates/helm-controller.crds.yaml#L723
vs
https://github.com/fluxcd/helm-controller/blame/main/config/crd/bases/helm.toolkit.fluxcd.io

[2022-10-13 13:54] #129 closed

[2022-10-13 16:32] roobre commented on #128
Great, I'll try to find some time to get a PR up soon!

[2022-10-17 13:01] odise opened #133 "flux-sync .gitRepository.spec.ignore multiline support"
### Describe the bug a clear and concise description of what the bug is.

I'm struggling setting a multiline git ignore configuration like:

[code]

This results in:

[code]

### What's your helm version?

3.9.4

### What's your kubectl version?

v1.24.3

### What's the chart version?

1.0.0

### What happened?

_No response_

### What you expected to happen?

_No response_

### How to reproduce i

[2022-10-17 13:06] odise commented on #133
I guess something like:
[code]
in https://github.com/fluxcd-community/helm-charts/blob/main/charts/flux2-sync/templates/flux-gitrepository.yaml#L32 should fix the problem.

[2022-10-17 13:11] stefanprodan commented on #133
this has nothing to do with ignore, multi-line works file, the ref is wrong.

[2022-10-17 13:17] odise commented on #133
Even when I set it to:

[code]

the error stays the same.

[2022-10-17 13:34] stefanprodan commented on #133
You're right, the bug is here https://github.com/fluxcd-community/helm-charts/blob/main/charts/flux2-sync/templates/flux-gitrepository.yaml#L44

It should be:

[code]

[2022-10-17 13:45] odise commented on #133
@stefanprodan you referring to `include` (which is a list of maps). I refer to `ignore` which should support multiline strings.

[2022-10-17 13:46] stefanprodan commented on #133
Yes, sorry I meant:

[code]

[2022-10-17 13:55] odise commented on #133
Np, any chance to fix it and release in a short term notice?

[2022-10-18 05:50] #133 closed

[2022-10-24 14:51] stefanprodan opened #136 "Release Flux 0.36"
Please update the Flux chart to v0.36.0 change log here https://github.com/fluxcd/flux2/releases/tag/v0.36.0

[2022-11-03 11:53] #136 closed

[2022-11-04 22:25] dmccaffery opened #139 "bug: we should not assume that the cluster domain is cluster.local"
https://github.com/fluxcd-community/helm-charts/blob/b3761bafd79cf1efb2b275309a42cb335abcc614/charts/flux2/templates/source-controller.yaml#L47

In our environments, we do not use the default cluster domain of cluster.local -- this either needs to be a variable, or allow resolv search domains to be used by dropping the domain.

[2022-11-05 15:21] dmccaffery commented on #53
The cluster domain will be resolved by #140 as it was causing issues for me reported in #139

[2022-11-05 17:58] #139 closed